book-chat-da2d6-firebase-adminsdk-fbsvc-*.json
serviceAccount*.json
*.pem
*.p12
.runtimeconfig.json
.vscode/
.env
.env.local
.env.*.local
functions/.env.book-chat-da2d6
firebase-debug.log
.firebase/hosting.cHVibGlj.cache
database-debug.log

firestore-debug.log
