/* 테마 기본 색 (bg-primary 등에서 사용) */
:root {
  --bs-primary: #f9f8f6;
  --bs-secondary: #efe9e3;
  --bs-success: #d9cfc7;
  --bs-info: #c9b59c;
  --bs-gray: #bfc4c8;
  --bs-secondary-gray: #555;
  --bs-danger: #a89a91;
  --focus-ring-color: var(--bs-info);
  --focus-ring-shadow: 0 0 0 0.25rem rgba(201, 181, 156, 0.25);
  --focus-ring-primary: var(--bs-info);
  /* var(--bs-border-color) */
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}
.bg-secondary {
  background-color: var(--bs-secondary) !important;
}
.bg-success {
  background-color: var(--bs-success) !important;
}
.bg-info {
  background-color: var(--bs-info) !important;
}
.bg-secondary-gray {
  background-color: var(--bs-secondary-gray) !important;
}
.bg-gray {
  background-color: var(--bs-gray) !important;
}

.temp {
  border: 2px solid;
  border-color: darkgray;
}
.main-container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
form .form-select {
  background-color: bs-body-bg; /* 화살표 크기 축소 */
}

form .form-select:focus,
form .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--bs-border-color); /* 기본 테두리색으로 되돌림 */
}
.btn:hover {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}
.btn-outline-secondary {
  border-color: var(--bs-gray); /* 테두리 연하게 */
  border-width: 1px; /* 기본은 1px이지만 확실히 명시 */
}

.select-no-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  padding-right: 1.75rem; /* 아이콘 자리 확보 */
}
select {
  max-width: 100px;
}
.select-icon {
  position: absolute;
  right: 0.65rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.85rem;
  color: #555;
  font-weight: bold;
}

.board-table {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
/* 글자가 pagelink */
.pagination .page-link {
  color: black;
}
.pagination .page-link:hover {
  color: var(--bs-secondary-gray);
  border-color: var(--bs-info);
  background-color: var(--bs-info);
}
/* pageitem 이 테두리 */
.pagination .page-item.active .page-link {
  background-color: var(--bs-info);
  border-color: var(--bs-border-color);
  color: black;
}
/*  */
.pagination .page-item.disabled .page-link {
  color: black;
  background-color: var(--bs-secondary-rgb);
}
.pagination .page-link:focus {
  box-shadow: none;
}
#newImagePreview {
  max-height: 210px;
  object-fit: contain;
}

/* 슬라이더 버튼 색상 */
.form-range::-webkit-slider-thumb {
  background-color: var(--bs-info);
  box-shadow: var(--bs-success);
  border: 0;
}

/* 눌렀을 때 색상  */
.form-range:active::-webkit-slider-thumb {
  background-color: var(--bs-success);
}

/* 슬라이더 박스 쉐도우 */
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.25rem rgba(201, 181, 156, 0.35); /* var(--bs-info) 투명도 버전 */
}
.btn-dark {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}
.btn-dark:hover {
  background-color: var(--bs-secondary);
  border-color: var(--bs-gray);
  color: var(--bs-gray);
}
