/* 테마 기본 색 (bg-primary 등에서 사용) */
:root {
  --bs-primary: #f9f8f6;
  --bs-secondary: #efe9e3;
  --bs-success: #d9cfc7;
  --bs-info: #c9b59c;
  --bs-gray: #bfc4c8;
  --bs-secondary-gray: #555;
  --bs-notification: #cc561e;
  --focus-ring-color: var(--bs-info);
  --focus-ring-shadow: 0 0 0 0.25rem rgba(201, 181, 156, 0.25);
  --focus-ring-primary: var(--bs-info);
  /* var(--bs-border-color) */
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}
.bg-secondary {
  background-color: var(--bs-secondary) !important;
}
.bg-success {
  background-color: var(--bs-success) !important;
}
.bg-info {
  background-color: var(--bs-info) !important;
}
.bg-secondary-gray {
  background-color: var(--bs-secondary-gray) !important;
}
.bg-gray {
  background-color: var(--bs-gray) !important;
}
.bg-notification {
  background-color: var(--bs-notification) !important;
}
.text-xs {
  font-size: 0.75rem; /* 12px */
}
.text-2xs {
  font-size: 0.625rem; /* 10px */
}
.temp {
  border: 2px solid;
  border-color: darkgray;
}
.main-container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
form .form-select {
  background-color: bs-body-bg; /* 화살표 크기 축소 */
}

form .form-select:focus,
form .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--bs-border-color); /* 기본 테두리색으로 되돌림 */
}
.btn:hover {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}
.btn-outline-secondary {
  border-color: var(--bs-gray); /* 테두리 연하게 */
  border-width: 1px; /* 기본은 1px이지만 확실히 명시 */
}

.select-no-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  padding-right: 1.75rem; /* 아이콘 자리 확보 */
}
select {
  max-width: 100px;
}
.select-icon {
  position: absolute;
  right: 0.65rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.85rem;
  color: #555;
  font-weight: bold;
}

.board-table {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
/* 글자가 pagelink */
.pagination .page-link {
  color: black;
}
.pagination .page-link:hover {
  color: var(--bs-secondary-gray);
  border-color: var(--bs-info);
  background-color: var(--bs-info);
}
/* pageitem 이 테두리 */
.pagination .page-item.active .page-link {
  background-color: var(--bs-info);
  border-color: var(--bs-border-color);
  color: black;
}
/*  */
.pagination .page-item.disabled .page-link {
  color: black;
  background-color: var(--bs-secondary-rgb);
}
.pagination .page-link:focus {
  box-shadow: none;
}
#newImagePreview {
  max-height: 210px;
  object-fit: contain;
}

/* 슬라이더 버튼 색상 */
.form-range::-webkit-slider-thumb {
  background-color: var(--bs-info);
  box-shadow: var(--bs-success);
  border: 0;
}

/* 눌렀을 때 색상  */
.form-range:active::-webkit-slider-thumb {
  background-color: var(--bs-success);
}

/* 슬라이더 박스 쉐도우 */
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.25rem rgba(201, 181, 156, 0.35); /* var(--bs-info) 투명도 버전 */
}
.btn-dark {
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}
.btn-dark:hover {
  background-color: var(--bs-secondary);
  border-color: var(--bs-gray);
  color: var(--bs-gray);
}

.chat-widget-container {
  position: fixed;
  bottom: 40px; /* 화면 아래에서 40px 위 */
  right: calc((100% - 1000px) / 2 - 19rem);
  /* right: calc((100% - 1000px) / 2); */
  width: 17rem;
  height: 20rem;
  z-index: 1000;
}
.chat-widget-container-open-btn {
  position: fixed;
  bottom: 7.75rem; /* 화면 아래에서 40px 위 */
  right: calc((100% - 1000px) / 2 - 4rem);
  z-index: 1000;
  background-color: var(--bs-success);
  border: var(--bs-gray);
}
@media (max-width: 1000px) {
  .chat-widget-container {
    right: 1rem; /* 보드 안쪽으로 밀어넣기 */
  }
  .chat-widget-container-open-btn {
    right: 4rem; /* 보드 안쪽으로 밀어넣기 */
    bottom: 9.5rem;
  }
}
.card-footer {
  padding: 0.3rem;
}
.card-body {
  height: inherit;
  padding: 0.3rem;
  overflow-y: auto;
}
.nickname-badge:hover {
  text-decoration: underline;
  cursor: pointer;
}
.chat-card {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.msg {
  max-width: 65%;
}
.msg-me {
  color: rgba(68, 68, 68, 0.9); /* 알파값 0.7 (30% 투명) */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.msg-other {
  color: black;
}

.msg-text {
  margin-bottom: 0.2rem;
}

/* 질문 카드 스타일 */
.carousel-inner {
  padding: 0.5rem 2rem;
  height: 5rem;
  flex: 0 0 auto;
}

.carousel-item {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.question-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.question-text {
  text-align: center;
  font-size: 0.875rem;
  display: -webkit-box; /* flex 대신 사용 (줄 제한용) */
  -webkit-box-orient: vertical; /* 수직 방향 */
  -webkit-line-clamp: 2; /* 2줄에서 ellipsis */
  line-clamp: 2;
  overflow: hidden;

  width: 50%;
  margin: 0 auto; /* 가운데 정렬 유지 */
}
.dropdown-menu {
  width: 360px;
  height: 450px;
  overflow-y: scroll;
}
.dropdown-text {
  white-space: normal;
  width: 100%;
}
.dropdown-item.read {
  background-color: var(--bs-success);
}
.dropdown-item:hover {
  background-color: var(--bs-secondary);
}
.notification-text-ellipsis {
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}
.notification-text-online-ellipsis {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carousel-item:nth-child(odd) {
  background-color: var(--bs-secondary);
}
.carousel-item:nth-child(even) {
  background-color: var(--bs-success);
}

/* carousel 컨트롤 버튼 색상 */
.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0.2);
}
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  filter: brightness(0.3);
}

.messages {
  flex: 1 1 auto; /* 남은 공간 다 먹음 */
  min-height: 0; /* 이거 있어야 스크롤 제대로 생김 */
  overflow-y: auto;
}
/* 아래 입력 폼 */
.msgForm {
  flex: 0 0 auto;
}
textarea {
  resize: none; /* 손으로 크기 조절 금지 */
  overflow-y: hidden; /* 스크롤 대신 높이 증가 */
}

.form-check-input:checked {
  background-color: var(--bs-success);
  border-color: var(--bs-info);
}
.form-check-input:focus {
  border-color: var(--bs-info);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--bs-secondary);
}
.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23c9b59c'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23c9b59c'/%3e%3c/svg%3e");
  background-color: white;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
